// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900

.montserrat-<uniquifier> {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

* {
  font-family: "Montserrat", sans-serif;
}

body {
  margin: 0;
}

.sticky-header {
  position: fixed;
  top: 0;
  z-index: 9;
  background: white;
  padding: 0.5rem;
  border-radius: 0 0 1rem 0;
  border-bottom: solid;
  border-right: solid;
}

.first-row {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.second-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  margin-top: 0.5rem;
}

.picture {
  width: 100%;
  display: block;
  border-radius: 1rem;
  border: solid 3px;
}

.first-row .title {
  text-align: center;
  margin: 0;
  font-size: 1rem;
}

.minimize {
  all: unset;
  cursor: pointer;
  color: black;
}

.minimize:hover {
  color:#007BFF;
}

.picture-container {
  position: relative;
  width: 95%;
  margin: 3rem auto;
}

.fail-mark {
  height: 25px;
  width: 25px;
  position: absolute;
  pointer-events: none;
  animation-iteration-count: var(--fa-animation-iteration-count, 1);
}

.targeting-box[open] {
  position: absolute;
  margin: 0;
  padding: 0.5rem;
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  border-radius: 1rem;
  border: none;
  --mask: radial-gradient(20px at 0 0,#0000 98%,#000);
  -webkit-mask: var(--mask);
          mask: var(--mask);
  z-index: 1;
  animation: 0.125s 1 ease-in grow;
}

.targeting-box div, 
.characters div {
  display: flex;
  flex-direction:column;
  align-items: center;
}

.character-button {
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
  padding: 0;
  border: 3px solid;
  cursor: pointer;
}

.character-image {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.character-name {
  text-align: center;
  margin: 0;
}

.main-character-image {
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
  object-fit: cover;
  border: 3px solid;
}

.characters {
  display: flex;
  gap: 1rem;
  justify-content: center;
  flex-wrap: wrap;
}

.checkmark {
  position: absolute;
  height: 4.5rem;
  animation-iteration-count: var(--fa-animation-iteration-count, 1);
  color: #00ff00;
}

@keyframes grow {
  0% {
    transform:scale(0);
  }

  100%{
    transform: scale(1);
  }
  
}

.dot {
  height: 25px;
  width: 25px;
  background-color: rgba(255, 0, 0, 0.75);
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  animation: 0.125s 1 ease-in grow;
}

.dot-green {
  height: 25px;
  width: 25px;
  background-color: rgba(0, 255, 0, 0.75);
  border-radius: 50%;
  display: inline-block;
  position: absolute;
}

.timer {
  text-align: center;
  font-size: 2rem;
  margin: 0;
  min-width: 100px;
}

.popup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  left: 0;
  margin: auto;
  position: fixed;
  right: 0;
  top: 0;
}

.scoreboard .title {
  text-align: center;
  margin-bottom: 1rem;
}

.scoreboard .close {
  all: unset;
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px;
}

.scoreboard {
  max-width: 750px;
  margin-inline: auto;
  margin-block: 1rem;
  font-family: "Honk", system-ui;
}

.scoreboard-popup {
  background-color: white;
  padding: 1rem;
  position: fixed;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 50%;
  border-radius: 1rem;
  border: solid;
}

.scoreboard-popup form {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

.scoreboard-grid {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-items: center;
  border: solid;
  border-radius: 2rem;
  background-color: #D3D3D3;
}

.scoreboard p {
  max-height: 1.2rem;
}

.scoreboard .name {
  width: 200px;
  overflow: hidden;
  white-space: nowrap;
  text-align: center;
}

.replay{
  all: unset;
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 20px;
  border: solid;
  padding: 0.5rem;
  border-radius: 50%;
  height: 1.5rem;
  width: 1.5rem;
  cursor: pointer;
  background: white;
  cursor: pointer;
}

.replay > * {
  width: 100%;
  height: 100%;
}

.replay-icon {
  animation-iteration-count: var(--fa-animation-iteration-count, 0);
  color: black;
}

.replay-icon:hover {
  animation-iteration-count: var(--fa-animation-iteration-count, infinite);

}

.submit, .hint-buttons > * {
  all: unset;
  background-color: #007BFF;
  color: white;
  padding: 0.25rem 1rem;
  border-radius: 10px;
  cursor: pointer;
}

.submit:hover, .hint-buttons > *:hover {
  background-color: #0054ae;
}

.hint-popup {
  position: fixed;
  top: 0;
  right: 0;
  background: white;
  z-index: 2;
  padding: 1rem;
  border-radius: 1rem;
  border: solid;
  margin: 1rem;
}

.hint-buttons {
  display: flex;
  justify-content: space-around;
}

.close-button {
  all: unset;
  position: absolute;
  top: 0;
  right: 0;
  margin: 0.5rem;
}

.close-button:hover {
  color: red;
  cursor: pointer;
}