// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900

.montserrat-<uniquifier> {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

* {
  font-family: "Montserrat", sans-serif;
}

.picture {
  width: 95%;
  display: block;
  margin: 0 auto;
}

.title {
  text-align: center;
}

.picture-container {
  position: relative;
}

.targeting-box[open] {
  position: absolute;
  margin: 0;
  display:flex;
  gap: 1rem;
  border-radius: 1rem;
  border: none;
  --mask: radial-gradient(20px at 0 0,#0000 98%,#000);
  -webkit-mask: var(--mask);
          mask: var(--mask);
}

.targeting-box div, 
.characters div {
  display: flex;
  flex-direction:column;
  align-items: center;
}

.character-button {
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  padding: 0;
  border: 3px solid;
  cursor: pointer;
}

.character-image {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.character-name {
  text-align: center;
  margin: 0;
}

.main-character-image {
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  object-fit: cover;
  border: 3px solid;
}

.characters {
  display: flex;
  gap: 1rem;
  justify-content: center;
  flex-wrap: wrap;
}

.checkmark {
  position: absolute;
}