
.picture {
  max-width: 1200px;
  width: 100%;
  display: block;
  margin: 0 auto;
}

.title {
  text-align: center;
}

.picture-container {
  position: relative;
}

.targeting-box {
  position: absolute;
}
